{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="nsupdate.info team">

        <title>{% block title %}nsupdate.info{% endblock %}</title>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/nsupdate.css' %}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">nsupdate.info</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if nav_home %} class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
                        <li{% if nav_overview %} class="active"{% endif %}><a href="{% url 'overview' %}">Overview</a></li>
                        <li{% if nav_about %} class="active"{% endif %}><a href="#about">About</a></li>
                        <li{% if nav_contact %} class="active"{% endif %}><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container content">
            {% block content %}
            <h1>Heyho!</h1>
            <p>Welcome to the base template. Extend this template in all other
            templates and override the content block</p>
            {% endblock %}
        </div>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
