{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="nsupdate.info team">

        <title>{% block title %}nsupdate.info{% endblock %}</title>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="{% static 'css/nsupdate.css' %}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">nsupdate.info</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if nav_home %} class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
                        <li{% if nav_overview %} class="active"{% endif %}><a href="{% url 'overview' %}">Overview</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        {% if not request.user.is_authenticated %}
                            <li{% if nav_login %} class="active"{% endif %}><a href="{% url 'auth_login' %}">Login</a></li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'account_profile' %}">Profile</a></li>
                                    <li><a href="{% url 'password_change' %}">Change password</a></li>
                                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container content wrap">
            <div class="row">
                <div class="col-lg-12">
                    <div id="message_box">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% block content %}
                <div class="row" style="background-color: #DDDDDD">
                    <div class="col-sm-4" style="text-align: center">
                        <h1><i class="icon-globe icon-4x"></i></h1>
                        <h3>World wide web</h3>
                        <p>
                            nsupdate.info is a free and <a href="https://github.com/asmaps/nsupdate.info">open-source</a> dynamic DNS service with IPv4 and IPv6 support.
                        </p>
                    </div>
                    <div class="col-sm-4" style="text-align: center">
                        <h1><i class="icon-cogs icon-4x"></i></h1>
                        <h3>Awesomeness</h3>
                        <p>
                            Powered by python, the magical pony django and a stupid three columned icon landing page.
                        </p>
                    </div>
                    <div class="col-sm-4" style="text-align: center">
                        <h1><i class="icon-trophy icon-4x"></i></h1>
                        <h3>Lies</h3>
                        <p>
                            nsupdate.info is winner of the <a href="http://djangodash.com">Django-Dash</a> 2013 with the highest score in the history of the competition.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                      <div class="container">                        
                        {% if request.session.ipv4 and request.session.ipv6 %}
                            <p>We think this are your IPs:</p>
                        {% elif request.session.ipv4 or request.session.ipv6 %}
                            <p>We think this is your IP:</p>
                        {% endif %}

                        {% if request.session.ipv4 %}
                            <h1>{{request.session.ipv4}}</h1>
                        {% elif request.session.ipv6 %}
                            <h1>{{request.session.ipv4}}</h1>
                        {% else %}
                            <h1>HeyHo!</h1>
                        {% endif %}
                    </div>
                </div>

            {% endblock %}
        </div>

        <div class="footer">
            <div class="container">
            <p class="text-muted credit">
                Sourcecode available at <a href="https://github.com/asmaps/nsupdate.info">GitHub</a>
                -
                developed by <a href="https://github.com/asmaps/">Arne Schauf</a>, 
                <a href="https://github.com/Samuirai/">Fabian Faessler</a>, 
                <a href="https://github.com/ThomasWaldmann/">Thomas Waldmann</a>
                during the <a href="http://djangodash.com/teams/c4/nsupdateinfo/">Django Dash 2013</a>.
            </p>
            </div>
        </div>

            <div style="display: none">
                <img src="//{{ WWW_IPV4_HOST }}/updateip" />
                <img src="//{{ WWW_IPV6_HOST }}/updateip" />
            </div>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
