{% extends "base.html" %}
{% load i18n %}{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">{% blocktrans %}About the {{ WWW_HOST }} service{% endblocktrans %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="m-0 h4">{% trans "What's this?" %}</h2>
                </div>
                <div class="card-body">
                    <p>
                        {% blocktrans %}{{ WWW_HOST }} is a <b>dynamic dns service</b>.{% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                        You usually need it so your router (or other dyndns2-compatible
                        client) can update a hostname, so you don't need to know or find
                        out your current IP address.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                        {{ WWW_HOST }} is <b>simple, usable, free, friendly, secure and respects your privacy</b>.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="m-0 h4">{% trans "Why another one?" %}</h2>
                </div>
                <div class="card-body">
                    <p>
                        {% blocktrans %}As far as we know, there was no service yet that is <em>not</em>:{% endblocktrans %}
                    </p>
                    <ul>
                        <li>{% trans "nagging its users to make a paid subscription" %}</li>
                        <li>{% trans "annoying its users with advertisements or spam" %}</li>
                        <li>{% trans "cancelling hosts or accounts after a short period of non-usage" %}</li>
                        <li>
                            {% blocktrans trimmed %}
                            making the few free features almost undiscoverable between a ton of commercial-only features
                            {% endblocktrans %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="m-0 h4">{% trans "How is it?" %}</h2>
                </div>
                <div class="card-body">
                    <p>
                        {% trans "You can just try it using the test account (see Register page)." %}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                        Also, we have
                        <a href="http://nsupdateinfo.readthedocs.org/"
                           title="Open docs in new window" target="_blank" rel="noopener">documentation</a> &mdash;
                        there might be some interesting stuff for you in it that is
                        not visible or obvious on the user interface.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                        If you are interested in the software project, have a look at the
                        <a href="https://github.com/nsupdate-info/nsupdate.info">nsupdate.info project on GitHub</a>.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="m-0 h4">{% trans "Fair use of the service" %}</h2>
                </div>
                <div class="card-body">
                    <p>
                        {% trans "The only thing we expect from you is fair use of this service:" %}
                    </p>
                    <ul>
                        <li>{% trans "Don't abuse the service in any way." %}</li>
                        <li>{% trans "Don't update your hosts too often." %}</li>
                        <li>{% trans "Don't do updates if your IP did not change." %}</li>
                        <li>{% trans "Don't create lots of users or lots of hosts." %}</li>
                        <li>{% trans "Don't use the service for any illegal or otherwise questionable purpose." %}</li>
                        <li>{% trans "Don't spam us via email." %}</li>
                    </ul>
                    <p>
                        {% blocktrans trimmed %}
                        We reserve the right to remove any account or hostname(s) that are
                        related to unfair use of the service - at any time and without prior notice.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="m-0 h4">{% trans "No warranties" %}</h2>
                </div>
                <div class="card-body">
                    <p>
                        {% trans "This is free software and a free service, there are no warranties." %}
                    </p>
                    <p>
                        {% trans "If it breaks, it breaks." %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="m-0 h4">{% trans "Service Contact" %}</h2>
                </div>
                <div class="card-body">
                    <p>
                        {{ SERVICE_CONTACT }}
                    </p>
                    <p>
                        {% trans "Before contacting us via email, please read the docs, they exist for a reason." %}
                    </p>
                    <h2 class="h4 mt-4">{% trans "Software Project Contact" %}</h2>
                    <p>
                        {% blocktrans trimmed %}
                        Visit the
                        <a href="https://github.com/nsupdate-info/nsupdate.info">nsupdate.info project on GitHub</a> to:
                        {% endblocktrans %}
                    </p>
                    <ul>
                        <li>{% trans "file issues on the issue tracker for bugs, ideas, patches." %}</li>
                        <li>{% trans "create pull requests for your contributions." %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
