{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>{% trans "Your updater configurations for other services" %}</h3>
            <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Service" %}</th>
                    <th>{% trans "Host" %}</th>
                    <th>{% blocktrans with type=_("IPv4") %}give {{ type }}{% endblocktrans %}</th>
                    <th>{% blocktrans with type=_("IPv6") %}give {{ type }}{% endblocktrans %}</th>
                    <th>{% trans "Comment" %}</th>
                </tr>
            </thead>
            {% for uc in updater_configs %}
                <tr>
                    <td>{{ uc.service.name }} (TLS: {{ uc.service.secure|yesno }})</td>
                    <td><a href="{% url 'updater_hostconfig' uc.pk %}">{{ uc.hostname }}</a></td>
                    <td>{{ uc.give_ipv4|yesno }}</td>
                    <td>{{ uc.give_ipv6|yesno }}</td>
                    <td>{{ uc.comment }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">{% trans "No other services to update yet." %}</td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3>{% trans "Create a new updater configuration" %}</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3>{% trans "Help" %}</h3>
                <p>{% trans "Here you can add new configurations for 3rd party services you like to get updated." %}
                </p>
                <p>{% trans "We will send an update to them each time you update your host with us." %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
