{% extends "base.html" %}
{% load i18n %}{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>{{ object.hostname }} ({{ object.service.name }})</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="m-0">{% trans "Edit Updater Configuration" %}</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="m-0">{% trans "Delete Updater Configuration" %}</h3>
                </div>
                <div class="card-body">
                    <p class="text-danger">
                        {% trans "Deleting an updater configuration cannot be undone. If you need it back, you'll have to add it again." %}
                    </p>
                    <form method="get" action="{% url 'delete_updater_hostconfig' object.pk %}">
                        <button type="submit" class="btn btn-primary btn-danger">{% trans "Delete" %}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="m-0">{% trans "Help" %}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% blocktrans trimmed with servicename=object.service.name %}
                        Here you can edit the configuration of the "{{ servicename }}" updater.
                        {% endblocktrans %}
                    </p>
                    <p class="card-text">
                        {% blocktrans trimmed %}
                        The values you need here are the same ones as you would usually enter in your router or update client.
                        {% endblocktrans %}
                    </p>
                    <p class="card-text">
                        {% blocktrans trimmed %}
                        You get these values after registering with the "{{ object.service.name }}" service
                        and (likely) configuring that service to accept updates.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
