[MAIN]
# In error mode, messages with a category besides ERROR or FATAL are
# suppressed, and no reports are done by default. Error mode is compatible with
# disabling specific errors.
errors-only=yes

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=pylint_django

django-settings-module=nsupdate.settings.dev

[MASTER]
init-hook='import sys; sys.path.append(".")'
