include README.rst CHANGES.rst LICENSE AUTHORS
include setup.cfg setup.py
include conftest.py
include django-registration-dj16-fix.diff
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-include nsupdate/static *
recursive-include nsupdate/templates *
recursive-include nsupdate/main/templates *
recursive-include nsupdate/accounts/templates *
prune docs/_build

