[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "*"
netaddr = "*"
django = "~=4.2.16"
django-bootstrap-form = "*"
django-referrer-policy = "*"
django-registration-redux = "*"
django-extensions = "*"
social-auth-app-django = "*"
requests = "*"
setuptools-scm = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = ">=3.6"
pytest-django = "*"
pytest-pep8 = "*"
sphinx = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
