{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>{% trans "Login with a local Account" %}</h2>
        <hr />
        {% if form.errors %}
        <p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
        {% endif %}
        <form class="form-horizontal" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input id="id_remember_me" name="remember_me" type="checkbox">
                    <label class="control-label " for="id_remember_me">{% trans "Remember me" %}</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}" />
                    <p></p>
                    <p><a href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans 'Forgot your password?' %}</a></p>
                    <p><a href="{% url 'registration_register' %}">{% trans "Sign up for a new account..." %}</a></p>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>{% trans "Login with a remote Account" %}</h2>
        <hr />
        <div class="btn-toolbar" role="toolbar">
        {% for backend in backends.backends %}
            <div class="btn-group">
                <a class="btn btn-default" role="button" href="{% url 'social:begin' backend %}">
                    <i class="fa fa-sign-in fa-fw"></i> {{ backend }}
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">document.getElementById("id_username").focus();</script>
{% endblock %}
