{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}
{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
{% if validlink %}

<h2>{% trans 'Enter new password' %}</h2>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" />
        </div>
    </div>
</form>

<script type="text/javascript">document.getElementById("id_new_password1").focus();</script>

{% else %}

<h2>{% trans 'Password reset unsuccessful' %}</h2>

<p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

{% endif %}
{% endblock %}
