{% extends "registration/registration_base.html" %}
{% load i18n %}{% load bootstrap %}
{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<h2>{% trans 'Password change' %}</h2>
<hr />
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<div class="col-md-7">
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {{ form|bootstrap_horizontal:"col-sm-4 col-lg-4" }}
        <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" />
        </div>
        </div>
    </form>
</div>
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock %}
