{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
       <h1>{% blocktrans %}About the {{ WWW_HOST }} service{% endblocktrans %}</h1>
        <div class="col-lg-4">
            <h2>{% trans "What's this?" %}</h2>
            <p>
                {% blocktrans %}{{ WWW_HOST }} is a <b>dynamic dns service</b>.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}You usually need it so your router (or other dyndns2-compatible
                client) can update a hostname, so you don't need to know or find
                out your current IP address.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}{{ WWW_HOST }} is <b>simple, usable, free, friendly, secure and respects your privacy</b>.{% endblocktrans %}
            </p>
        </div>
        <div class="col-lg-4">
            <h2>{% trans "Why another one?" %}</h2>
            <p>
                {% blocktrans %}As far as we know, there was no service yet that is <em>not</em>:{% endblocktrans %}
            </p>
            <ul>
                <li>{% trans "nagging its users to make a paid subscription" %}</li>
                <li>{% trans "annoying its users with advertisements or spam" %}</li>
                <li>{% trans "cancelling hosts or accounts after a short period of non-usage" %}</li>
                <li>{% blocktrans %}hiding the few free features almost undiscoverably
                    between a ton of commercial-only features{% endblocktrans %}</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>{% trans "How is it?" %}</h2>
            <p>
                {% trans "You can just try it using the test account (see Register page)." %}
            </p>
            <p>
                {% blocktrans %}Also, we have
                <a href="http://nsupdateinfo.readthedocs.org/"
                   title="Open docs in new window" target="_blank">documentation</a> &mdash;
                there might be some interesting stuff for you in it that is
                not visible or obvious on the user interface.{% endblocktrans %}
            </p>
            <p>{% blocktrans %}If you are interested in the software project, have a look at the
                <a href="https://github.com/nsupdate-info/nsupdate.info">nsupdate.info project on GitHub</a>.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h2>{% trans "Fair use of the service" %}</h2>
            <p>
                {% trans "The only thing we expect from you is fair use of this service:" %}
            </p>
            <ul>
                <li>{% trans "Don't abuse the service in any way." %}</li>
                <li>{% trans "Don't update your hosts too often." %}</li>
                <li>{% trans "Don't do updates if your IP did not change." %}</li>
                <li>{% trans "Don't create lots of users or lots of hosts." %}</li>
                <li>{% trans "Don't use the service for any illegal or otherwise questionable purpose." %}</li>
                <li>{% trans "Don't spam us via e-mail." %}</li>
            </ul>
            <p>
                {% blocktrans %}We reserve the right to remove any account or hostname(s) that are
                related to unfair use of the service - at any time and without prior notice.{% endblocktrans %}
            </p>
        </div>
        <div class="col-lg-4">
            <h2>{% trans "No warranties" %}</h2>
            <p>
                {% trans "This is free software and a free service, there are no warranties." %}
            </p>
            <p>
                {% trans "If it breaks, it breaks." %}
            </p>
        </div>
        <div class="col-lg-4">
            <h2>{% trans "Service Contact" %}</h2>
            <p>
                {{ SERVICE_CONTACT }}
            </p>
            <p>
                {% trans "Before contacting us via E-Mail, please read the docs, they exist for a reason." %}
            </p>
            <h2>{% trans "Software Project Contact" %}</h2>
            <p>
                {% blocktrans %}Visit the
                <a href="https://github.com/nsupdate-info/nsupdate.info">nsupdate.info project on GitHub</a> to:{% endblocktrans %}
            </p>
            <ul>
                <li>{% trans "file issues on the issue tracker for bugs, ideas, patches." %}</li>
                <li>{% trans "create pull requests for your contributions." %}</li>
            </ul>
        </div>
    </div>
{% endblock %}
