{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<h1>About the nsupdate.info service</h1>
    <h2>What's this?</h2>
        <p>
            nsupdate.info is a dynamic dns service.
        </p>
        <p>
            You usually need it so your router (or other dyndns2-compatible
            client) can update a hostname, so you don't need to know or find
            out your current IP address.
        </p>
    <h2>Screenshots?</h2>
        <p>
            We made some
            <a href="{% url 'screenshots' %}">screenshots</a>
            for you so you can see what you get without having to create an account first.
        </p>
    <h2>Why another one?</h2>
        <p>
            We wanted a simple, usable, secure and free dynamic dns service.
            That is not nagging its users with advertisements, spam, having
            to log in regularly or cancelling his hosts after a short time of non-usage.
            That is not hiding the few free features almost undiscoverably between
            a ton of features that are only for paying users.
        </p>

<h1>Fair use of the service</h1>
    <p>
        The only thing we expect from you is fair use of this service:
    </p>
    <ul>
        <li>Don't abuse the service in any way.</li>
        <li>Don't update your hosts too often.</li>
        <li>Don't do updates if your IP did not change.</li>
        <li>Don't create lots of users or lots of hosts.</li>
        <li>Don't use the service for any illegal or otherwise questionable purpose.</li>
        <li>Don't spam us via e-mail.</li>
    </ul>
    <p>
        We reserve the right to remove any account or hostname(s) that are
        related to unfair use of the service - at any time and without prior notice.
    </p>

<h1>No warranties</h1>
    <p>
        This is a free service, there are no warranties. If it breaks, it breaks.
    </p>

<h1>About the nsupdate.info software project</h1>
    <h2>Where does the project live?</h2>
    The <a href="https://github.com/nsupdate-info/nsupdate.info">nsupdate.info project on GitHub</a>.

    <h2>Found some issue or want to help?</h2>
    <p>
        Feedback and help is welcome. Please use github to file issues to the
        issue tracker or contribute changes (either do a pull request [preferred]
        or attach a patch to an issue).
    </p>
    <h2>Who developed the software?</h2>
        <p>
            <a href="https://github.com/asmaps/">Arne Schauf</a>,
            <a href="https://github.com/Samuirai/">Fabian Faessler</a> and
            <a href="https://github.com/ThomasWaldmann/">Thomas Waldmann</a>
            developed the initial version of the nsupdate.info software in 48h in the DjangoDash 2013 contest.
        </p>

<h1>Contact</h1>
    <p>
        info AT nsupdate DOT info
    </p>

{% endblock %}
