{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<h1>About page</h1>
<p>You take the blue pill, the story ends, you wake up in your bed and believe whatever you want to believe. You take the red pill, you stay in Wonderland, and I show you how deep the rabbit hole goes.</p>
<h2>About nsupdate.info</h2>
<p>nsupdate.info is the idea of a really simple single purpose dynamic dns 
service. Unlike other dynamic dns services its intention is that you do not
have to click a link every 30 days to keep your domain enabled or other 
jokes like this.</p>
<h2>Features</h2>
<div class="well">
    <i class="icon icon-ok"></i> Open-Source<br>
    <i class="icon icon-ok"></i> Free<br>
    <i class="icon icon-ok"></i> Easy<br>
    <i class="icon icon-ok"></i> Fast<br>
    <i class="icon icon-ok"></i> Awesome<br>
    <i class="icon icon-ok"></i> Made with love<br>
</div>
{% endblock %}
