{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <h3>{{ domain.domain }} <br><small><a href="{% url 'domain_overview' %}"><i class="fa fa-angle-double-left"></i> back to overview</a></small></h3>
        <div class="col-lg-8">
            <h3>Edit Domain</h3>
            <p>You can't change the domain name. If you want to have another domain name, you have to delete this domain and create a new one.</p>
            <p>
                Please note that update algorithm and update secret need to match.
                Just create a new secret after submitting this form with a changed update algorithm.
            </p>
            <form method="post" action="">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="col-lg-4">
            <h3>Show Configuration</h3>
            <p>
                We'll generate a ready-to-use configuration for your name server,
                filled out with all values (including a new secret).
            </p>
            <p class="text-warning">
                We'll create a new shared secret - if you had one before, it will become invalid.
                You have to use the new secret in your name server configuration.
            </p>
            <form action="{% url 'generate_ns_secret_view' domain.pk %}" method="get">
                <button type="submit" class="btn btn-primary btn-warning">Show Configuration</button>
            </form>
            <h3>Delete Domain</h3>
            <p class="text-danger">
                Deleting a domain is not undoable. If you need it back, you'll have to add it again and configure a new shared secret.
            </p>
            <form method="get" action="{% url 'delete_domain' domain.pk %}">
                <button type="submit" class="btn btn-primary btn-danger">Delete domain</button>
            </form>
        </div>
    </div>
{% endblock %}
