{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Your Domains</h3>
            <table class="table">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th>Public?</th>
                    <th>Available?</th>
                    <th>Nameserver IP</th>
                    <th>Algorithm</th>
                </tr>
            </thead>
            {% for domain in domains %}
                <tr>
                    <td rowspan="2" style="vertical-align: middle"><a href="{% url 'domain_view' domain.pk %}">{{ domain.domain }}</a></td>
                    <td>{{ domain.public|yesno }}</td>
                    <td>{{ domain.available|yesno }}</td>
                    <td>{{ domain.nameserver_ip }}</td>
                    <td>{{ domain.get_nameserver_update_algorithm_display }}</td>
                </tr>
                <tr>
                    <td colspan="4">Key: {{ domain.nameserver_update_key }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No domains yet.</td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3>Add a new Domain</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3>Help</h3>
                <p>Here you can add new domains (zones) which you control (and this is only useful if you
                   have some own zone which you can update automatically).</p>
                <p>You need to configure the primary master nameserver of the zone so it accepts dynamic updates
                   if the correct update key is presented (which is just a shared secret between the nameserver
                   and this service).
                </p>
            </div>
        </div>
    </div>
{% endblock %}
