{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Domains (yours first, then public)</h3>
            <table class="table">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th>Public?</th>
                    <th>Available?</th>
                    <th>Owner</th>
                    <th>Comment</th>
                </tr>
            </thead>
            {% for domain in your_domains %}
                <tr>
                    <td><a href="{% url 'domain_view' domain.pk %}">{{ domain.domain }}</a></td>
                    <td>{{ domain.public|yesno }}</td>
                    <td>{{ domain.available|yesno }}</td>
                    <td>{{ domain.created_by }}</td>
                    <td>{{ domain.comment }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">No domains from you yet.</td></tr>
            {% endfor %}
            {% for domain in public_domains %}
                <tr>
                    <td>{{ domain.domain }}</td>
                    <td>{{ domain.public|yesno }}</td>
                    <td>{{ domain.available|yesno }}</td>
                    <td>{{ domain.created_by }}</td>
                    <td>{{ domain.comment }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">No public domains from other users yet.</td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3>Add a new Domain</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3>Help</h3>
                <p>
                   Here you can add new domains (zones) which you control (and this is only useful if you
                   have some own zone which you can update automatically).
                </p>
                <p>
                   You need to be able to configure the primary master nameserver of the zone so it accepts
                   dynamic updates (via RFC 2136 "dynamic update" protocol) if the correct update secret is presented.
                </p>
                <p>
                   We'll show you configuration examples after you add a domain.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
