{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <h3>Nameserver Shared Secret Generated <small><br>
                <a href="{% url 'domain_overview' %}"><i class="fa fa-angle-double-left"></i> back to overview</a></small></h3>
                <p>New nameserver shared secret generated for you. Everytime you visit this page a new secret will be generated and the old one becomes invalid.</p>
                <p>Algorithm: <b>{{ object.get_bind9_algorithm }}</b></p>
                <p>Secret: <b>{{ shared_secret }}</b></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <h3>How to configure your bind9 nameserver to accept dynamic DNS updates?</h3>
                <pre>
// configuration snippet for bind 9 nameserver (put it into /etc/bind9/named.conf )

key "{{ object.domain }}." {
    // everyone who has this key may update this zone:
    // must be same algorithm as in the Domain record of the nsupdate.info based service
    algorithm {{ object.get_bind9_algorithm }};
    // the secret is just a shared secret in base64-encoding, you don't need
    // to use a special tool to create it. Some random in base64 encoding should
    // be OK. must be same secret as in the Domain database record of the nsupdate.info based service
    secret "{{ shared_secret }}";
};

zone {{ object.domain }} {
        type master;
        // bind9 needs write permissions into that directory and into that file:
        file "/etc/bind/zones/{{ object.domain }}";
        update-policy {
            // these "deny" entries are needed for the service domain,
            // if you add another domain, you may want to check the need
            // for other "deny" entries if the zone is not fully available.
            // we don't allow updates to the infrastructure hosts:
            deny  {{ object.domain }}.      name      {{ object.domain }};
            deny  {{ object.domain }}.      name  www.{{ object.domain }};
            deny  {{ object.domain }}.      name ipv4.{{ object.domain }};
            deny  {{ object.domain }}.      name ipv6.{{ object.domain }};
            // but we allow updates to any other host:
            grant {{ object.domain }}. subdomain {{ object.domain }};
        };
};
</pre>
            </div>
        </div>
    </div>
{% endblock %}
