{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <h3>Nameserver Shared Secret Generated <small><br>
                <a href="{% url 'domain_overview' %}"><i class="fa fa-angle-double-left"></i> back to overview</a></small></h3>
                <p>New nameserver shared secret generated for you. Everytime you visit this page a new secret will be generated and the old one becomes invalid.</p>
                <p>Secret: <b>{{ shared_secret }}</b></p>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="well">
                <h3>How to configure your bind9 nameserver to accept dynamic DNS updates?</h3>
                <pre>
// configuration snippet for bind 9 nameserver (put it into /etc/bind9/named.conf )

key "{{ object.domain }}." {
    algorithm {{ object.get_bind9_algorithm }};
    // the secret is just a shared secret in base64-encoding, you don't need to use a special tool
    // to create it. Some random in base64 encoding should be OK.
    secret "{{ shared_secret }}";
};

zone {{ object.domain }} {
        type master;
        // bind9 needs write permissions into that directory and into that file:
        file "/etc/bind/zones/{{ object.domain }}";
        // everyone who has that key may update this zone:
        allow-update { key "{{ object.domain }}."; };
};
</pre>
            </div>
        </div>
    </div>
{% endblock %}
