{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="well">
                <h3>{% trans "Host Secret Generated" %}</h3>
                <p>{% blocktrans %}New secret generated for you. We store it hashed, so save it now, or you have to generate a new one again. Everytime you visit this page a new secret will be generated and the old one becomes invalid.{% endblocktrans %}</p>
                <p>{% trans "Secret:" %} <b>{{ update_secret }}</b></p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="well">
                <h3>{% trans "How to configure automated dynamic DNS updates?" %}</h3>
                {% include "main/includes/tabbed_router_configuration.html" with host=object %}
            </div>
        </div>
    </div>
{% endblock %}
