{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="well">
                <h3>Host Secret Generated <small><br>
                <a href="{% url 'overview' %}"><i class="fa fa-angle-double-left"></i> back to overview</a></small></h3>
                <p>New secret generated for you. We store it hashed, so save it now, or you have to generate a new one again. Everytime you visit this page a new secret will be generated and the old one becomes invalid.</p>
                <p>Secret: <b>{{ update_secret }}</b></p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="well">
                <h3>How to configure automated dynamic DNS updates?</h3>
                {% include "main/includes/tabbed_router_configuration.html" with host=object %}
            </div>
        </div>
    </div>
{% endblock %}
