{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<h1>Documentation</h1>
    We have nice documentation for service users and administrators there:

    <a href="//nsupdateinfo.readthedocs.org/">nsupdate.info docs on ReadTheDocs.org</a>

<h1>Configuration Help</h1>
<div class="row">
    <div class="well">
        <h3>How to configure automated dynamic DNS updates?</h3>
        {% include "main/includes/tabbed_router_configuration.html" with host=object %}
    </div>
</div>
{% endblock %}
