{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h4>Your IP(s):</h4>
        {% if request.session.ipv4 %}
                <h1>{{request.session.ipv4}}</h1>
        {% endif %}
        {% if request.session.ipv6 %}
            <h2>{{request.session.ipv6}}</h2>
        {% endif %}
        <p>
            nsupdate.info - the Dynamic DNS service you waited for.
        </p>
    </div>

<div class="row">
    <div class="col-sm-4" style="text-align: center">
        <h1><i class="icon-thumbs-up-alt icon-3x"></i></h1>
        <h3>Free and Nice</h3>
        <p>
            nsupdate.info is a free service.<br>
            Also, we won't annoy you with ads or spam.
        </p>
    </div>
    <div class="col-sm-4" style="text-align: center">
        <h1><i class="icon-code icon-3x"></i></h1>
        <h3>Free and Open Source</h3>
        <p>
            nsupdate.info is free and open-source software.
        </p>
        <p>
            <a href="https://github.com/nsupdate-info/nsupdate.info">nsupdate.info project on GitHub</a>
        </p>
    </div>
    <div class="col-sm-4" style="text-align: center">
        <h1><i class="icon-heart-empty icon-3x"></i></h1>
        <h3>Awesome Code</h3>
        <p>
            Empowered by Python and Django,<br>
            we love to write clean and secure code.
        </p>
    </div>
</div>
</div>
{% endblock %}
