{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

    <div class="row">
        
         <div class="col-lg-4">
            <h3>Edit Horst <small><a href="{% url 'overview' %}"><i class="icon-double-angle-left"></i> back to overview</a></small></h3>
            <form method="post" action="">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    

{% endblock %}