{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <h3>{% trans "Create a new Host" %}</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <h3>{% trans "Help" %}</h3>
                <p>{% trans "Here you can add new hosts (like routers, PCs, servers, ...)." %}
                </p>
                <p>{% blocktrans %}You need to be able to configure one of your machines so it sends dyndns2 compatible
                   updates to us when your IP changes. Routers usually have some builtin software that does
                   this, but you can also use some software on another system (like a PC or server).{% endblocktrans %}
                </p>
                <p>
                   {% blocktrans %}Just make sure your update client either is customizable well enough or has specific
                   support for our service.{% endblocktrans %}
                </p>
                <p>
                   {% trans "We'll show you configuration examples after you add a host." %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
