{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{% trans "Your Hosts" %}</h3>
            <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Host<br>Comment" %}</th>
                    <th>{% trans "Available" %}</th>
                    <th>{% blocktrans %}Faults<br>C / S{% endblocktrans %}</th>
                    <th>{% blocktrans %}IPv4 Address<br>(last update){% endblocktrans %}</th>
                    <th>{% blocktrans %}IPv6 Address<br>(last update){% endblocktrans %}</th>
                </tr>
            </thead>
            {% for host in hosts %}
                <tr>
                    <td><a href="{% url 'host_view' host.pk %}"><b>{{ host.subdomain }}.{{ host.domain.domain }}</b></a>
                        <br>
                        {{ host.comment }}
                    </td>
                    <td>{{ host.available|yesno }}</td>
                    <td>{{ host.client_faults }} / {{ host.server_faults }}
                        {% if host.abuse_blocked %}
                            <br><span class="label label-danger">ABUSE-BLOCKED</span>
                        {% elif host.abuse %}
                            <br><span class="label label-warning">ABUSE</span>
                        {% endif %}
                    </td>
                    <td>{{ host.get_ipv4 }}
                        <br>
                        {% if host.last_update_ipv4 %}
                        ({{ host.last_update_ipv4|timesince }},
                         {% if not host.tls_update_ipv4 %}
                         <span class="label label-warning">no {% else %}
                         <span class="label label-success">{% endif %}TLS</span>)
                        {% else %}
                        (unknown)
                        {% endif %}
                    </td>
                    <td>{{ host.get_ipv6 }}
                        <br>
                        {% if host.last_update_ipv6 %}
                        ({{ host.last_update_ipv6|timesince }},
                         {% if not host.tls_update_ipv6 %}
                         <span class="label label-warning">no {% else %}
                         <span class="label label-success">{% endif %}TLS</span>)
                        {% else %}
                        (unknown)
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="5">{% trans "No hosts yet." %}</td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="well well-sm">
                <h3>{% trans "Create a new Host" %}</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well well-sm">
                <h3>{% trans "Help" %}</h3>
                <p>{% trans "Here you can add new hosts (like routers, PCs, servers, ...)." %}
                </p>
                <p>{% blocktrans %}You need to be able to configure one of your machines so it sends dyndns2 compatible
                   updates to us when your IP changes. Routers usually have some builtin software that does
                   this, but you can also use some software on another system (like a PC or server).{% endblocktrans %}
                </p>
                <p>
                   {% blocktrans %}Just make sure your update client either is customizable well enough or has specific
                   support for our service.{% endblocktrans %}
                </p>
                <p>
                   {% trans "We'll show you configuration examples after you add a host." %}
                </p>
            </div>
            <div class="well well-sm">
                <h3>{% trans "Your current IP(s) + reverse DNS:" %}</h3>
                <p>
                   <b>IPv4:</b> <span id="ipv4" class="ipv4addr">{{ request.session.ipv4 }}</span>
                   <br>
                   <b>rDNS:</b> <span id="ipv4_rdns" class="ipv4addr">{{ request.session.ipv4_rdns }}</span>
                </p>
                <p>
                   <b>IPv6:</b> <span id="ipv6" class="ipv6addr">{{ request.session.ipv6 }}</span>
                   <br>
                   <b>rDNS:</b> <span id="ipv6_rdns" class="ipv6addr">{{ request.session.ipv6_rdns }}</span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
