{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>
                {% trans "Your Hosts" %}
                <a href="{% url 'add_host' %}" class="btn btn-primary btn-sm">{% trans "Add Host" %}</a>
            </h3>
            <table class="table">
            <thead>
                <tr>
                    <th>
                        {% trans "Host" %}
                        <br>
                        {% trans "Comment" %}
                    </th>
                    <th>
                        {% trans "Available" %}
                    </th>
                    <th>
                        {% trans "Faults" %}
                        <br>
                        {% trans "C / S" %}
                    </th>
                    <th>
                        {% blocktrans with type=_("IPv4") %}{{ type }} Address{% endblocktrans %}
                        <br>
                        {% trans "(last update)" %}
                    </th>
                    <th>
                        {% blocktrans with type=_("IPv6") %}{{ type }} Address{% endblocktrans %}
                        <br>
                        {% trans "(last update)" %}
                    </th>
                </tr>
            </thead>
            {% for host in hosts %}
                <tr>
                    <td><a href="{% url 'host_view' host.pk %}">{{ host.get_fqdn }}</a>
                        <br>
                        {{ host.comment }}
                    </td>
                    <td>{{ host.available|yesno }}</td>
                    <td>{{ host.client_faults }} / {{ host.server_faults }}
                        {% if host.abuse_blocked %}
                            <br><span class="label label-danger">Abuse-Blocked</span>
                        {% elif host.abuse %}
                            <br><span class="label label-warning">Abuse</span>
                        {% endif %}
                    </td>
                    <td>{{ host.get_ipv4 }}
                        <br>
                        {% if host.last_update_ipv4 %}
                        ({{ host.last_update_ipv4|timesince }},
                         {% if not host.tls_update_ipv4 %}
                         <span class="label label-warning">no {% else %}
                         <span class="label label-success">{% endif %}TLS</span>)
                        {% else %}
                        (unknown)
                        {% endif %}
                    </td>
                    <td>{{ host.get_ipv6 }}
                        <br>
                        {% if host.last_update_ipv6 %}
                        ({{ host.last_update_ipv6|timesince }},
                         {% if not host.tls_update_ipv6 %}
                         <span class="label label-warning">no {% else %}
                         <span class="label label-success">{% endif %}TLS</span>)
                        {% else %}
                        (unknown)
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="5">{% trans "No hosts yet." %}</td></tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-md-12">
            <h3>
                {% trans "Domains (yours first, then public)" %}
                <a href="{% url 'add_domain' %}" class="btn btn-primary btn-sm">{% trans "Add Domain" %}</a>
            </h3>
            <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Domain" %}</th>
                    <th>{% trans "Public" %}</th>
                    <th>{% trans "Available" %}</th>
                    <th>{% trans "Owner" %}</th>
                    <th>{% trans "Comment" %}</th>
                </tr>
            </thead>
            {% for domain in your_domains %}
                <tr>
                    <td><a href="{% url 'domain_view' domain.pk %}">{{ domain.name }}</a></td>
                    <td>{{ domain.public|yesno }}</td>
                    <td>{{ domain.available|yesno }}</td>
                    <td>{{ domain.created_by }}</td>
                    <td>{{ domain.comment }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">{% trans "No domains from you yet." %}</td></tr>
            {% endfor %}
            {% for domain in public_domains %}
                <tr>
                    <td>{{ domain.name }}</td>
                    <td>{{ domain.public|yesno }}</td>
                    <td>{{ domain.available|yesno }}</td>
                    <td>{{ domain.created_by }}</td>
                    <td>{{ domain.comment }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">{% trans "No public domains from other users yet." %}</td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
