{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>{% trans "Related hosts" %}
                <a href="{% url 'add_related_host' mpk %}" class="btn btn-primary btn-sm">{% trans "Add related host" %}</a>
            </h3>
            <p>
                {% trans "Main host:" %} <a href="{% url 'host_view' mpk %}">{{ main_host.get_fqdn }}</a>
            </p>
            <table class="table">
            <thead>
                <tr>
                    <th>
                        {% trans "Host" %}
                        <br>
                        {% trans "Comment" %}
                    </th>
                    <th>{% trans "Available" %}</th>
                    <th>
                        {% blocktrans with type=_("IPv4") %}{{ type }} Address{% endblocktrans %}
                        <br>
                        {% blocktrans with type=_("IPv4") %}{{ type }} interface ID{% endblocktrans %}
                    </th>
                    <th>
                        {% blocktrans with type=_("IPv6") %}{{ type }} Address{% endblocktrans %}
                        <br>
                        {% blocktrans with type=_("IPv6") %}{{ type }} interface ID{% endblocktrans %}
                    </th>
                </tr>
            </thead>
            {% for rh in related_hosts %}
                <tr>
                    <td>
                        <a href="{% url 'related_host_view' mpk rh.pk %}">{{ rh }}</a>
                        <br>
                        {{ rh.comment }}
                    </td>
                    <td>{{ rh.available|yesno }}</td>
                    <td>
                        {{ rh.get_ipv4 }}
                        <br>
                        {{ rh.interface_id_ipv4 }}
                    </td>
                    <td>
                        {{ rh.get_ipv6 }}
                        <br>
                        {{ rh.interface_id_ipv6 }}
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="5">{% trans "No related hosts yet." %}</td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
