{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <h3>{{ object.hostname }} ({{ object.service.name }}) <br><small><a href="{% url 'updater_hostconfig_overview' object.host.pk %}"><i class="fa fa-angle-double-left"></i> back to overview</a></small></h3>
        <div class="col-lg-6">
            <h3>Edit Updater Configuration</h3>
            <form method="post" action="">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <h3>Delete Updater Configuration</h3>
            <p>
                Deleting a updater configuration is not undoable. If you need it back, you'll have to add it again.
            </p>
            <form method="get" action="{% url 'delete_updater_hostconfig' object.pk %}">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3>Help</h3>
                <p>Here you can edit the configuration of the "{{ object.service.name }}" updater.
                </p>
                <p>
                   The values you need here are the same ones as you would usually enter in your router
                   or update client.
                </p>
                <p>
                   You get these values after registering with the "{{ object.service.name }}" service
                   and (likely) configuring that service to accept updates.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
