{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
        <h3>{{ object.hostname }} ({{ object.service.name }})</h3>
        <div class="col-lg-6">
            <h3>{% trans "Edit Updater Configuration" %}</h3>
            <form method="post" action="">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
            </form>
            <h3>{% trans "Delete Updater Configuration" %}</h3>
            <p>
                {% trans "Deleting a updater configuration is not undoable. If you need it back, you'll have to add it again." %}
            </p>
            <form method="get" action="{% url 'delete_updater_hostconfig' object.pk %}">
                <button type="submit" class="btn btn-primary">{% trans "Delete" %}</button>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="well well-sm">
                <h3>{% trans "Help" %}</h3>
                <p>
                    {% blocktrans with servicename=object.service.name %}Here you can edit the configuration of the "{{ servicename }}" updater.{% endblocktrans %}
                </p>
                <p>
                   {% blocktrans %}The values you need here are the same ones as you would usually enter in your router
                   or update client.{% endblocktrans %}
                </p>
                <p>
                   {% blocktrans %}You get these values after registering with the "{{ object.service.name }}" service
                   and (likely) configuring that service to accept updates.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
