{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="jumbotron">
        <h2>Browser-based Updater</h2>
        <p>
            Host {{ hostname }} will get automatically updated as long as you keep this window open.
        </p>
        <noscript>
            <p class="text-danger">
                The browser based updater only works if javascript is enabled.
            </p>
        </noscript>
        <h2>Updater Status</h2>
        <dl>
            <dt>My IP:</dt>
            <dd><span id="myip"></span> (<span id="myip_timestamp"></span>)</dd>
            <dt>Last update response:</dt>
            <dd><span id="response"></span> (<span id="response_timestamp"></span>)</dd>
        </dl>
    </div>
    <script type="text/javascript">
    // Thanks to 1v3ry for helping with the js code!
    var last_ip = '';

    function checkIP() {
        $.get("{% url 'myip' %}")
        .done(function( data ) {
            ip = data;
            $('#myip').text(ip);
            $('#myip_timestamp').text(new Date().toISOString());
            if(ip != last_ip) {
                $.ajax({
                    url: "{% url 'nic_update' %}",
                    username: "{{ hostname }}",
                    password: "{{ secret }}"
                })
                .done(function( data ) {
                    response = data.split(" ");
                    switch(response[0])
                    {
                        case "good": $('#response').text("IP address was updated successfully. ["+data+"]"); break;
                        case "nochg": $('#response').text("IP address didn't change. ["+data+"]"); break;
                        case "dnserr": $('#response').text("The update request resulted in a DNS error. ["+data+"]"); break;
                        case "nohost": $('#response').text("The host you specified does not exist. ["+data+"]"); break;
                        case "abuse": $('#response').text("Your host is listed with an abuse flag. ["+data+"]"); break;
                        case "badagent": $('#response').text("Your user agent is listed as bad. ["+data+"]"); break;
                        case "notfqdn": $('#response').text("Your username does not match the domain-name of your host. ["+data+"]"); break;
                        default: $('#response').text("An unknown error occured. You might want to update your host manually."); break;
                    }
                    
                    $('#response_timestamp').text(new Date().toISOString());
                    last_ip = ip;
                })
                .fail(function( data ) {
                    $('#response').text('Could not connect to the update-service. You might want to reload the page or update your host manually.');
                    $('#response_timestamp').text(new Date().toISOString());
                });
            }
        })
        .fail(function( data ) {
            $('#response').text('Could not determine IP address. You might want to reload the page or update your host manually.');
        });
    }

    $(document).ready(function() {
        setInterval(checkIP, 300000);  // repeat every N ms
    });
    </script>
{% endblock %}
