body {
    padding-top: 70px;
}

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding-bottom: 60px;
}

/* bootstrap uses a quite big jumbotron top/bottom padding and
   even increases it for wide(!) screens -- we don't want that.
 */
.jumbotron {
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer {
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 60px;
  background-color: #ddd;
}
