{% extends "base.html" %}
{% load i18n %}{% load bootstrap %}

{% block content %}
    <div class="row">
         <div class="col-lg-8">
            <h3>{% trans "Delete your User Account" %}</h3>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    {% blocktrans trimmed %}
                    Are you sure you want to delete your user account and
                    all your data on this service? You can not undelete your data.
                    {% endblocktrans %}
                </p>
                <button type="submit" class="btn btn-danger">{% trans "Confirm" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
