{% extends "registration/registration_base.html" %}
{% load i18n %}{% load bootstrap %}
{% url 'auth_login' as auth_login_url %}
{% block title %}{% if account %}{% trans "Activation complete" %}{% else %}{% trans "Activation problem" %}{% endif %}{% endblock %}

{% block content %}
{% if account %}
    <h2>{% trans 'Thanks, activation complete!' %}</h2>
    <p>{% trans 'You may now login using the username and password you set at registration.' %}</p>
    <p><a href="{{ login_url }}"><button class="btn btn-primary" type="button">{% trans "Log in" %}</button></a></p>
{% else %}
    <h2>{% trans 'Oops' %}</h2>
    <p>{% trans 'it seems that your activation key is invalid.  Please check the url again.' %}</p>
{% endif %}
{% endblock %}
