{% extends "registration/registration_base.html" %}
{% load i18n %}{% load bootstrap %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-5">
        <h1>Login with a local Account</h1>
        {% if form.errors %}
            <p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
        {% endif %}
        <form method="post" action="{% url 'auth_login' %}">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
                <input id="id_remember_me" name="remember_me" type="checkbox">
                <label class="control-label " for="id_remember_me">Keep me logged in</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">login</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <hr>
        <h2>Forgot your password?</h2>
        <p>
            <a class="btn btn-default" href="{% url 'auth_password_reset' %}">Request a password reset</a>
        </p>
        <h2>Don't have an account yet?</h2>
        <p>
            <a class="btn btn-default" role="button" href="{% url 'registration_register' %}">Register an account</a>
        </p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5">
        <h1>Login with a remote Account</h1>
        <div class="btn-toolbar" role="toolbar">
        {% for backend in backends.backends %}
            <div class="btn-group">
                <a class="btn btn-default btn-lg" role="button" href="{% url 'social:begin' backend %}">
                    <i class="fa fa-sign-in fa-fw"></i> {{ backend }}
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>
{% endblock %}
