{% extends "registration/registration_base.html" %}
{% load i18n %}{% load bootstrap %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}

{% if form.errors %}
<p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
{% endif %}
<div class="row">
  <div class="col-lg-4">
    <form method="post" action="{% url 'auth_login' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    <p><a href="{% url 'auth_password_reset' %}">Forgot</a> your password?
        <a href="{% url 'registration_register' %}">Need an account</a>?</p>

    <button type="submit" class="btn btn-primary">login</button>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <div>
        Login with:
        <ul>
            {% for backend in backends.backends %}
                <li><a href="{% url 'social:begin' backend %}">{{ backend }}</a></li>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>

{% endblock %}
