{% extends "registration/registration_base.html" %}
{% load i18n %}{% load bootstrap %}
{% load bootstrap %}
{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>{% trans "No registration required for testing" %}</h2>
    <p>
        {% trans "You can easily test the service and see what you get." %}
    </p>
    <p>
        {% trans "Just directly log in as:" %}
    </p>
    <ul>
        <li>{% trans "Username:" %} test</li>
        <li>{% trans "Password:" %} test</li>
    </ul>
    <p>
        {% blocktrans %}
        <b>Note:</b> if that doesn't work, the service administrator did not set up
        the test account yet or discontinued offering it. In that case, you can
        still just register a new account.{% endblocktrans %}
    </p>
    <h2>{% blocktrans %}test account is <b>only</b> for testing{% endblocktrans %}</h2>
    <p>
        {% blocktrans %}
        Any data (hosts, domains, ...) entered using the test account might be removed
        at any time and without prior notice.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        So if you'ld like your stuff to stay, please register for a regular account after
        finishing your initial evaluation.{% endblocktrans %}
    </p>
  </div>
  <div class="col-md-6">
    <h2>{% trans "Register new account" %}</h2>
    <p>
        {% blocktrans %}
        Username: should be related to your <em>person or organisation</em>
        (not: to the host(s) you want to register).<br>
        E-Mail address: must be a <em>working</em> one, we'll send you an activation E-Mail there.<br>
        Password: please use a sane one, we trust you.{% endblocktrans %}
    </p>
    <form class="form-horizontal" role="form" method="post" action="">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="{% trans "Send activation email" %}" />
            </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}
