{% load i18n %}{% load bootstrap %}
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#generic" data-toggle="tab">{% trans "General" %}</a></li>
    <li><a href="#avm" data-toggle="tab">AVM Fritz!Box</a></li>
    <li><a href="#ddwrt" data-toggle="tab">DD-WRT</a></li>
    <li><a href="#ddclient" data-toggle="tab">ddclient</a></li>
    <li><a href="#dyndnsc" data-toggle="tab">dyndnsc</a></li>
    <li><a href="#edgeos" data-toggle="tab">EdgeOS</a></li>
    <li><a href="#inadyn" data-toggle="tab">inadyn</a></li>
    <li><a href="#ipfire" data-toggle="tab">IPFire</a></li>
    <li><a href="#mikrotik" data-toggle="tab">Mikrotik</a></li>
    <li><a href="#m0n0wall" data-toggle="tab">m0n0wall</a></li>
    <li><a href="#openwrt" data-toggle="tab">OpenWRT</a></li>
    <li><a href="#pfsense" data-toggle="tab">pfSense</a></li>
    <li><a href="#speedporthybrid" data-toggle="tab">Speedport Hybrid</a></li>
    <li><a href="#browser" data-toggle="tab">Browser</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="generic">
        <h4>{% trans "General configuration hints" %}</h4>
        <p>
            {% blocktrans trimmed %}
            Usually, you should configure one system on your network to update the DNS.
            This can be either your router or a host on your network and it will run some software
            called the update client.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            We have some specific configuration hints for some devices and update clients,
            please see the tabs above. If you don't find yours there, use the generic hints below.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            <b>Important note about security and compatibility</b>:
            For update URLs, we always give the https (not: http) URL as that will use an encrypted connection
            to transfer your data (including your update secret). Depending on your update client (router firmware or
            PC software) <em>and</em> the specific nsupdate.info-based service, https might be not supported.
            So, if it does not work, you have the choice of using a different update client and/or a different service,
            or transmitting your data using an unencrypted connection (using http: instead of https:).
            {% endblocktrans %}
            <br>
            <b>On {{ WWW_HOST }} https is {% if not WE_HAVE_TLS %}not {% endif %}supported.</b>
        </p>
        <hr>
        <p>
            {% trans "Your update client needs to access the following URLs to update the DNS:" %}
        </p>
        {% trans "For IPv4 updates:" %}
        <div class="well well-sm">
            <a href="https://{{ host.get_fqdn|default:"&lt;your fqdn&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV4_HOST }}/nic/update">https://{{ host.get_fqdn|default:"&lt;your fqdn&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV4_HOST }}/nic/update</a>
        </div>
        {% trans "For IPv6 updates:" %}
        <div class="well well-sm">
            <a href="https://{{ host.get_fqdn|default:'&lt;your fqdn&gt;' }}:{{ update_secret|default:'&lt;your secret&gt;' }}@{{ WWW_IPV6_HOST }}/nic/update">https://{{ host.get_fqdn|default:'&lt;your fqdn&gt;' }}:{{ update_secret|default:'&lt;your secret&gt;' }}@{{ WWW_IPV6_HOST }}/nic/update</a>
        </div>
        {% blocktrans trimmed %}
        The IPs will be determined automatically using the remote address our service is seeing
        (see below for more details).
        {% endblocktrans %}
        <hr>
        <p>
            {% trans "Your update client has to do the following steps:" %}
        </p>
        <ul>
            <li>
                {% trans "Check your current IP:" %}
                <ul>
                    <li>https://{{ WWW_IPV4_HOST }}/myip  ({% trans "to get your current IPv4 address" %})</li>
                    <li>https://{{ WWW_IPV6_HOST }}/myip  ({% trans "to get your current IPv6 address" %})</li>
                    <li>https://{{ WWW_HOST }}/myip  ({% trans "to get your current IPv4 or IPv6 address" %})</li>
                </ul>
                {% trans "Important: Do not send an update if your IP did not change since last update!" %}
            </li>
            <li>{% trans "Do HTTP Basic Auth with:" %}
                <ul>
                    <li>{% trans "Username:" %} {{ host.get_fqdn|default:"&lt;your fqdn&gt;" }}</li>
                    <li>{% trans "Password:" %} {{ update_secret|default:"&lt;your secret&gt;" }}</li>
                </ul>
            </li>
            <li>{% trans "Send a http GET request to:" %}
                <ul>
                    <li>https://{{ WWW_IPV4_HOST }}/nic/update  {% trans "(to update IPv4 A record in DNS)" %}</li>
                    <li>https://{{ WWW_IPV6_HOST }}/nic/update  {% trans "(to update IPv6 AAAA record in DNS)" %}</li>
                </ul>
            </li>
            <li>{% trans "Optionally, we support some URL arguments:" %}
                <ul>
                    <li>
                        {% blocktrans trimmed %}
                        myip=127.0.0.1 or myip=::1  (by default, we autodetect the IP. If the autodetected IP is not
                        the one you want to put into DNS, you need to give the wanted one explicitly using myip=...)
                        {% endblocktrans %}
                    </li>
                    <li>hostname={{ host.get_fqdn|default:"&lt;your fqdn&gt;" }} {% trans "(if not given: autodetect from http basic auth)" %}</li>
                </ul>
            </li>
            <li>{% trans "The response status and content will be:" %}
                <ul>
                    <li>Status 200 and "good &lt;your ip&gt;" <i class="fa fa-long-arrow-alt-right"></i> {% trans "new IP accepted" %}</li>
                    <li>Status 200 and "nochg &lt;your ip&gt;" <i class="fa fa-long-arrow-alt-right"></i> {% trans "IP accepted, but did not change since last update" %}</li>
                    <li>Status 401: Authorization Required <i class="fa fa-long-arrow-alt-right"></i> {% trans "Incorrect authentication or no http basic auth header received" %}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="tab-pane" id="avm">
        <h4>Fritz!Box 6360, 7390 {% trans "and maybe others:" %}</h4>
        <hr>
        <h5>{% trans "Go to:" %}</h5>
        <div class="well well-sm">
            Internet <i class="fa fa-long-arrow-alt-right"></i>
            Permit Access <i class="fa fa-long-arrow-alt-right"></i>
            Dynamic DNS
        </div>
        <h5>{% trans "Enter the following data:" %}</h5>
        <table class="table">
            <thead><tr><th>Setting</th><th>Value</th></tr></thead>
            <tr><td>Dynamic DNS provider</td><td>Custom</td></tr>
            <tr><td>Update-URL</td><td>https://{{ WWW_IPV4_HOST }}/nic/update</td></tr>
            <tr><td>Domain Name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>User name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Password</td><td>{{ update_secret|default:"&lt;your secret&gt;" }}</td></tr>
        </table>
        <h5>{% trans "If you have IPv4 and IPv6" %}</h5>
        {% trans "Set Update-URL to the following (two URLs, separated by one space)" %}
        <div class="well well-sm">https://{{ WWW_IPV4_HOST }}/nic/update https://{{ WWW_IPV6_HOST }}/nic/update</div>
        <h5>{% trans "Forcing a dynamic DNS update" %}</h5>
        {% trans "If you want to force a dynamic update for testing purposes, you can do it like this:" %}
        <ul>
            <li>{% trans "disable dynamic DNS, apply" %}</li>
            <li>{% trans "enable dynamic DNS, apply" %}</li>
            <li>{% trans '(now the Fritz!Box sends an update, it might be "good" or "nochg" depending on whether we already have that IP in DNS)' %}</li>
        </ul>
    </div>
    <div class="tab-pane" id="ddwrt">
        <h4>DD-WRT ({% trans "verified with" %} v24-sp2)</h4>
        <h5>{% trans "Go to:" %}</h5>
        <div class="well well-sm">
            Setup <i class="fa fa-long-arrow-alt-right"></i>
            DDNS
        </div>
        <h5>{% trans "Enter the following data:" %}</h5>
        <table class="table">
            <thead><tr><th>Setting</th><th>Value</th></tr></thead>
            <tr><td>DDNS Service</td><td>Custom</td></tr>
            <tr><td>DYNDNS Server</td><td>{{ WWW_IPV4_HOST }}</td></tr>
            <tr><td>Username</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Password</td><td>{{ update_secret|default:"&lt;your secret&gt;" }}</td></tr>
            <tr><td>Hostname</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>URL</td><td>/nic/update?</td></tr>
            <tr><td>Additional DDNS Options</td><td>{% trans "(leave this field empty)" %}</td></tr>
            <tr><td>Use External IP Check</td><td>No</td></tr>
            <tr><td>Force Update Interval</td><td>7</td></tr>
        </table>
    </div>
    <div class="tab-pane" id="ddclient">
        <h4>ddclient</h4>
        <p>
            {% trans "ddclient is a popular dyndns update daemon on Linux." %}
        </p>
        <pre># /etc/ddclient.conf

# this will update your ipv4 address to the address
# the web service sees requests coming from:
protocol=dyndns2
use=web, web=http://{{ WWW_IPV4_HOST }}/myip
ssl=yes  # yes = use https for updates
server={{ WWW_IPV4_HOST }}
login={{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
password='{{ update_secret|default:"&lt;your secret&gt;" }}'
{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}

# ddclient releases <= 3.8.1 do not support IPv6,
# but there is a patch for IPv6 from Eduardo Trapani.
# using such a patched ddclient, the following should work:
#
# this will update your IPv6 address to the interface address:
#protocol=dyndns2
#usev6=if, if=eth0
#ssl=yes  # yes = use https for updates
#server={{ WWW_IPV6_HOST }}
#login={{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
#password='{{ update_secret|default:"&lt;your secret&gt;" }}'
#{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
</pre>
    </div>
    <div class="tab-pane" id="dyndnsc">
        <h4>dyndnsc</h4>
        <pre># dyndnsc.ini

[dyndnsc]
configs = myconf_ipv4, myconf_ipv6

[myconf_ipv4]
# this will update your ipv4 address to the address
# the detector dnswanip returns:
use_preset = nsupdate.info:ipv4
updater-hostname = {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
updater-userid = {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
updater-password = {{ update_secret|default:"&lt;your secret&gt;" }}
detector = webcheck4

[myconf_ipv6]
# this will update your ipv6 address to the address
# the detector dnswanip returns:
use_preset = nsupdate.info:ipv6
updater-hostname = {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
updater-userid = {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
updater-password = {{ update_secret|default:"&lt;your secret&gt;" }}
detector = webcheck6

</pre>
    </div>
    <div class="tab-pane" id="edgeos">
        <h4>EdgeOS (ddclient)</h4>
        <pre>
    dynamic {
        interface pppoe0 {
            service custom-nsupdate {
                host-name {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
                login {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
                password {{ update_secret|default:"&lt;your secret&gt;" }}
                protocol dyndns2
                server {{ WWW_IPV4_HOST }}
            }
            web http://{{ WWW_IPV4_HOST }}/myip
        }
    }
</pre>
    </div>
    <div class="tab-pane" id="ipfire">
        <h4>IPFire 2.17 Core Update 90</h4>
        <p>Homepage: <a href="http://ipfire.org/">http://ipfire.org</a></p>
        <h5>{% trans "Go to:" %}</h5>
        <div class="well well-sm">
            Services <i class="fa fa-long-arrow-alt-right"></i>
            Dynamic DNS
        </div>
        <h5>{% trans "Enter the following data (and click ADD afterwards):" %}</h5>
        <table class="table">
            <thead><tr><th>Setting</th><th>Value</th></tr></thead>
            <tr><td>Service</td><td>nsupdate.info</td></tr>
            <tr><td>Enabled</td><td>(check)</td></tr>
            <tr><td>Host Name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>User name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Password</td><td>{{ update_secret|default:"&lt;your secret&gt;" }}</td></tr>
        </table>
    </div>
       <div class="tab-pane" id="mikrotik">
        <h4>Mikrotik Routers ({% trans "verified with" %} Version. 6.45.7</h4>
        <h4> Copy and paste the following into a new script name of your choosing and schedule it to run when you want. 
        <pre>
###################################################################################
# "Compliant" IPv4 & IPv6 Dynamic DNS Update Script for Mikrotik with Nsupdate.info Services
# In theory, fully compliant based on Nsupdate rules, but hey, its free, YMMV!

# Things to note: 

# Problem: If your domain has no IP set or is set "Abuse" status, this script will likely fail / not work.
# Solution: Fix your "Abuse status" in the web control panel, and/or set an initial IP.

# Problem: You only have IPv4 or IPv6, not both.
# Solution: The script will probably fail, Mikrotik likes to stop running scripts if ANYTHING goes wrong. Goodluck!

# Please enter only your full Dynamic DNS Hostname & Secret
:local DDNSHostname {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
:local DDNSSecret {{ update_secret|default:"&lt;your secret&gt;" }}
:put "-----------------------------------------"
## IPv4 Update code begin.
:local DDNSHostnameIPv4 [:resolve $DDNSHostname];
{
:local IPV4CURRENT [/tool fetch url="https://ipv4.nsupdate.info/myip" as-value output=user];
 :delay 2s; 
 
 :put "IPv4 Hostname: $DDNSHostname " ;
 :put "DNS-IPv4: $DDNSHostnameIPv4 " ;
 :put "Current IPv4 address:" ;
 :put ($IPV4CURRENT->"data") ;
 # Compare DNS IPv4 to current IPv4
 :if ($IPV4CURRENT->"data" = $DDNSHostnameIPv4 ) do={
               :log info "IPv4 address matches for $DDNSHostname no update needed." ;
               :put "IPv4 address matches for $DDNSHostname no update needed." ;
        } else={
            :log info "IPv4 address doesn't match for $DDNSHostname , updating..." ;
            :put "IPv4 address doesn't match for $DDNSHostname , updating..." ;
            
            /tool fetch url="https://$DDNSHostname:$DDNSSecret@ipv4.nsupdate.info/nic/update" keep-result=no ;
        }
}
## IPv4 Update code end
:put "-----------------------------------------"
# IPv6 Update code start, IPv6 code is much more complicated vs IPv4 code.
# This is due to the around Mikrotik not implementing ping6 or resolve6 functionality

# Setup some variables to generate a unique-ish address-list name
:local AddressListName
:local date [/system clock get date]
:local newdate "";
  :for i from=0 to=([:len $date]-1) do={ :local tmp [:pick $date $i];
  :if ($tmp !="/") do={ :set newdate "$newdate$tmp" }
  :if ($tmp ="/") do={}
}

:set AddressListName ($"DDNSHostname" . "-" . $"newdate" )

# Create temporary address list to resolve IPv6 ip since Mikrotik resolve function sucks
# Use uniqueish name for address list to prevent clobbering.
/ipv6 firewall address-list add list=$AddressListName address=$DDNSHostname timeout=15s comment="Temp list for DDNS"
:delay 2s;

{
# Get IPV6 string from address list.
local DDNSHostnameIPv6 [/ipv6 firewall address-list get value-name=address [find comment=$DDNSHostname]] 
# Split IPv6 (address) string away from its subnet/cidr mask. 
local DDNSHostnameIPv6 [:pick $DDNSHostnameIPv6 0 [:find $DDNSHostnameIPv6 "/"]]
# Get local IPv6 address from nsupdate.info server.
:local IPV6CURRENT [/tool fetch url="https://ipv6.nsupdate.info/myip" as-value output=user];
 :delay 2s;
 :put "IPv6 Hostname: $DDNSHostname " ;
 :put "DNS-IPv6: $DDNSHostnameIPv6 " ;
 :put "Current IPv6 address:"
 :put ($IPV6CURRENT->"data");
# Compare DNS IPv6 to current IPv6
:if ( $IPV6CURRENT->"data" = $DDNSHostnameIPv6 ) do={
            :log info "IPv6 address matches for $DDNSHostname , no update needed." ;
            :put "IPv6 address matches for $DDNSHostname, no update needed." ;
        } else={
            :log info "IPv6 address doesn't match for $DDNSHostname , updating..." ;
            :put "IPv6 address doesn't match for $DDNSHostname, updating..." ;
            /tool fetch url="https://$DDNSHostname:$DDNSSecret@ipv6.nsupdate.info/nic/update" keep-result=no ;
        }

}
:put "-----------------------------------------"
########################################################################

</pre>
    </div>
    <div class="tab-pane" id="m0n0wall">
        <h4>m0n0wall</h4>
        <p>Homepage: <a href="http://m0n0.ch/wall/">http://m0n0.ch/wall</a></p>
        <h5>{% trans "Go to:" %}</h5>
        <div class="well well-sm">
            Services <i class="fa fa-long-arrow-alt-right"></i>Dynamic DNS
        </div>
        <h5>{% trans "Enter the following data:" %}</h5>
        <table class="table">
            <thead><tr><th>Setting</th><th>Value</th></tr></thead>
            <tr><td>Service Type</td><td>DynDNS</td></tr>
            <tr><td>Hostname</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Server</td><td>{{ WWW_IPV4_HOST }}</td></tr>
            <tr><td>Username</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Password</td><td>{{ update_secret|default:"&lt;your secret&gt;" }}</td></tr>
        </table>
    </div>
    <div class="tab-pane" id="inadyn">
        <h4>inadyn ({% trans "verified with" %} 1.99.11)</h4>
        <pre># /etc/inadyn.conf

logfile /var/log/inadyn/inadyn.log
verbose 5
period 300

system ipv4@nsupdate.info
    ssl
    username {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
    password {{ update_secret|default:"&lt;your secret&gt;" }}
    alias {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}

# note: no IPv6 support in inadyn yet.
</pre>
        <h4>inadyn ({% trans "verified with" %} 2.1)</h4>
        <pre># /etc/inadyn.conf

period       = 300

provider ipv4@nsupdate.info {
    ssl      = true
    username = {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
    password = {{ update_secret|default:"&lt;your secret&gt;" }}
    hostname = {{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
}

# note: no IPv6 support in inadyn yet.
</pre>
    </div>
    <div class="tab-pane" id="openwrt">
        <h4>OpenWRT ({% trans "verified with" %} "Chaos Calmer")</h4>
        <pre># ddns-scripts configuration /etc/config/ddns

config service "ipv4ddns"
    option enabled "1"
    option interface "wan"
    option use_syslog "1"

    option update_url "http://[USERNAME]:[PASSWORD]@{{ WWW_IPV4_HOST }}/nic/update?hostname=[DOMAIN]&myip=[IP]"
    option ip_source "web"
    option ip_url "http://{{ WWW_IPV4_HOST }}/myip"

    option domain "{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}"
    option username "{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}"
    option password "{{ update_secret|default:"&lt;your secret&gt;" }}"

    # for https support, first install wget with ssl support and
    # a current (and working) bundle of CA certificates:
    # opkg install wget
    # mkdir -p /etc/ssl/certs
    # wget -P /etc/ssl/certs http://curl.haxx.se/ca/cacert.pem
    option use_https "1"
    option cacert "/etc/ssl/certs/cacert.pem"
</pre>
    </div>
    <div class="tab-pane" id="pfsense">
        <h4>pfSense</h4>
        <p>Homepage: <a href="https://www.pfsense.org/">https://www.pfsense.org</a></p>
        <p>
            {% blocktrans trimmed %}
            Please note: if the pfSense WAN interface does not have
            your public IP and does not notice your public IP changing, the
            update will be done delayed (default: daily at 01:01). You can
            tweak this by editing /etc/crontab from where it invokes
            /etc/rc.dyndns.update - but be careful: do not invoke it too
            frequently and consider that this applies to all your DDNS updaters.
            {% endblocktrans %}
        </p>
        <h5>{% trans "Enter the following data:" %}</h5>
        <table class="table">
            <thead><tr><th>Setting</th><th>Value</th></tr></thead>
            <tr><td>Disable</td><td>{% trans "(do not select this)" %}</td></tr>
            <tr><td>DDNS Service</td><td>Custom</td></tr>
            <tr><td>Interface to monitor</td><td>WAN {% trans "(most likely)" %}</td></tr>
            <tr><td>Interface to send from</td><td>WAN {% trans "(most likely)" %}</td></tr>
            <tr><td>Verbose logging</td><td>{% trans "(select this as long as you need it)" %}</td></tr>
            <tr><td>Username</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Password</td><td>{{ update_secret|default:"&lt;your secret&gt;" }}</td></tr>
            <tr><td>Update URL</td><td>https://{{ WWW_IPV4_HOST }}/nic/update</td></tr>
            <tr><td>Result Match</td><td>good %IP%|nochg %IP%</td></tr>
            <tr><td>Description</td><td>update DDNS host with IP v4 address</td></tr>
        </table>
    </div>
    <div class="tab-pane" id="speedporthybrid">
        <h4>Speedport Hybrid ({% trans "verified with" %} Firmware: 050124.03.07.001)</h4>
        <h5>{% trans "Enter the following data:" %}</h5>
        <table class="table">
            <thead><tr><th>Setting</th><th>Value</th></tr></thead>
            <tr><td>Provider</td><td>other Provider</td></tr>
            <tr><td>Domain name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>User name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Password</td><td>{{ update_secret|default:"&lt;your secret&gt;" }}</td></tr>
            <tr><td>Update server address</td><td>https://{{ WWW_IPV4_HOST }}</td></tr>
            <tr><td>Protocol</td><td>https</td></tr>
            <tr><td>Port</td><td>443</td></tr>
        </table>
    </div>
    <div class="tab-pane" id="browser">
        <h4>{% trans "Browser-based update client" %}</h4>
        {% blocktrans trimmed %}
        These URLs invoke the built-in update client, which is intended for temporary and adhoc scenarios only.
        It periodically checks your IP and updates DNS if it changes.
        {% endblocktrans %}
        <ul>
            <li><a href="https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_HOST }}/update">{% trans "update DNS to point to remote IPv4 or IPv6 address" %}</a></li>
            <li><a href="https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV4_HOST }}/update">{% trans "similar, IPv4 only" %}</a></li>
            <li><a href="https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV6_HOST }}/update">{% trans "similar, IPv6 only" %}</a></li>
        </ul>
        <h4>{% trans "URLs for browser / http user agent use" %}</h4>
        {% trans "Important: Do not send an update if your IP did not change since last update!" %}
        {% trans "Check your current IP:" %}
        <ul>
            <li><a href="https://{{ WWW_IPV4_HOST }}/myip">{% trans "to get your current IPv4 address" %}</a></li>
            <li><a href="https://{{ WWW_IPV6_HOST }}/myip">{% trans "to get your current IPv6 address" %}</a></li>
            <li><a href="https://{{ WWW_HOST }}/myip">{% trans "to get your current IPv4 or IPv6 address" %}</a></li>
        </ul>
        {% trans "Interactive - will ask for username (give your hostname) and password (give your secret):" %}
        <ul>
            <li><a href="https://{{ WWW_HOST }}/nic/update">{% trans "update DNS to point to remote IPv4 or IPv6 address" %}</a></li>
            <li><a href="https://{{ WWW_IPV4_HOST }}/nic/update">{% trans "similar, IPv4 only" %}</a></li>
            <li><a href="https://{{ WWW_IPV6_HOST }}/nic/update">{% trans "similar, IPv6 only" %}</a></li>
        </ul>
        {% trans "Giving the http basic auth username and password in the URL:" %}
        <ul>
            <li><a href="https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_HOST }}/nic/update">{% trans "update DNS to point to remote IPv4 or IPv6 address" %}</a></li>
            <li><a href="https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV4_HOST }}/nic/update">{% trans "similar, IPv4 only" %}</a></li>
            <li><a href="https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV6_HOST }}/nic/update">{% trans "similar, IPv6 only" %}</a></li>
        </ul>
        {% trans "As above, but manually specifying the IP address:" %}
        <ul>
            <li><a href="https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_HOST }}/nic/update?myip=127.0.0.1">{% trans "update DNS to point to IPv4 127.0.0.1" %}</a></li>
            <li><a href="https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_HOST }}/nic/update?myip=::1">{% trans "update DNS to point to IPv6 ::1" %}</a></li>
        </ul>
        {% trans "Explanation of parameters:" %}
        <ul>
            {% if not host %}
                <li>&lt;your hostname&gt;: {% blocktrans trimmed %}your fully qualified hostname, something like example.{{ WWW_HOST }}{% endblocktrans %}</li>
            {% endif %}
            {% if not update_secret %}
                <li>&lt;your secret&gt;: {% trans "the secret you have configured for this hostname" %}</li>
            {% endif %}
            <li>
                {% blocktrans trimmed %}
                IP addresses: we use the v4 and v6 localhost addresses in the examples, but
                of course you need to use your real public IP instead of that.
                {% endblocktrans %}
            </li>
        </ul>
    </div>
</div>
