<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#generic" data-toggle="tab">General</a></li>
    <li><a href="#avm" data-toggle="tab">AVM Fritz!Box</a></li>
    <li><a href="#ddwrt" data-toggle="tab">DD-WRT</a></li>
    <li><a href="#ddclient" data-toggle="tab">ddclient</a></li>
    <li><a href="#browser" data-toggle="tab">Browser</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="generic">
        <h4>General configuration hints</h4>
        <p>
            Usually, you should configure one system on your network to update the DNS.
            This can be either your router or a host on your network and it will run some software
            called the update client.
        </p>
        <p>
            We have some specific configuration hints for some devices and update clients,
            please see the tabs above. If you don't find yours there, use the generic hints below.
        </p>
        <p>
            <b>Important note about security and compatibility</b>:
            For update URLs, we always give the https (not: http) URL as that will use an encrypted connection
            to transfer your data (including your update secret). Depending on your update client (router firmware or
            PC software) <em>and</em> the specific nsupdate.info-based service, https might be not supported.
            So, if it does not work, you have the choice of using a different update client and/or a different service,
            or transmitting your data using an unencrypted connection (using http: instead of https:).<br>
            <b>On {{ WWW_HOST }} https is {% if not WE_HAVE_SSL %}not {% endif %}supported.</b>
        </p>
        <hr>
        <p>
            Your update client needs to access the following URLs to update the DNS:
        </p>
        For IPv4 updates:
        <div class="well well-sm">
            <a href="https://{{ host.get_fqdn|default:"&lt;your fqdn&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV4_HOST }}/nic/update">https://{{ host.get_fqdn|default:"&lt;your fqdn&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV4_HOST }}/nic/update</a>
        </div>
        For IPv6 updates:
        <div class="well well-sm">
            <a href="https://{{ host.get_fqdn|default:'&lt;your fqdn&gt;' }}:{{ update_secret|default:'&lt;your secret&gt;' }}@{{ WWW_IPV6_HOST }}/nic/update">https://{{ host.get_fqdn|default:'&lt;your fqdn&gt;' }}:{{ update_secret|default:'&lt;your secret&gt;' }}@{{ WWW_IPV6_HOST }}/nic/update</a>
        </div>
        The IPs will be determined automatically using the remote address our service is seeing
        (see below for more details).
        <hr>
        <p>
            Your update client has to do the following steps:
        </p>
        <ul>
            <li>Do HTTP Basic Auth with:
                <ul>
                    <li>Username: {{ host.get_fqdn|default:"&lt;your fqdn&gt;" }}</li>
                    <li>Password: {{ update_secret|default:"&lt;your secret&gt;" }}</li>
                </ul>
            </li>
            <li>Send a http GET request to:
                <ul>
                    <li>https://{{ WWW_IPV4_HOST }}/nic/update  (to update IPv4 A record in DNS)</li>
                    <li>https://{{ WWW_IPV6_HOST }}/nic/update  (to update IPv6 AAAA record in DNS)</li>
                </ul>
            </li>
            <li>Optionally, we support some URL arguments:
                <ul>
                    <li>myip=127.0.0.1 or myip=::1  (by default, we autodetect the IP. If the autodetected IP is not
                        the one you want to put into DNS, you need to give the wanted one explicitly using myip=...)
                    </li>
                    <li>hostname={{ host.get_fqdn|default:"&lt;your fqdn&gt;" }} (if not given: autodetect from http basic auth)</li>
                </ul>
            </li>
            <li>The response status and content will be:
                <ul>
                    <li>Status 200 and "good &lt;your ip&gt;" <i class="fa fa-long-arrow-right"></i> new IP accepted</li>
                    <li>Status 200 and "nochg &lt;your ip&gt;" <i class="fa fa-long-arrow-right"></i> IP accepted, but did not change since last update</li>
                    <li>Status 401: Authorization Required <i class="fa fa-long-arrow-right"></i> Incorrect authentication or no http basic auth header received</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="tab-pane" id="avm">
        <h4>Fritz!Box 6360, 7390 and maybe others:</h4>
        <hr>
        <h5>Go to:</h5>
        <div class="well well-sm">
            Internet <i class="fa fa-long-arrow-right"></i>
            Permit Access <i class="fa fa-long-arrow-right"></i>
            Dynamic DNS
        </div>
        <h5>Enter the following data:</h5>
        <table class="table">
            <thead><tr><th>Setting</th><th>Value</th></tr></thead>
            <tr><td>Dynamic DNS provider</td><td>Custom</td></tr>
            <tr><td>Update-URL</td><td>https://{{ WWW_IPV4_HOST }}/nic/update</td></tr>
            <tr><td>Domain Name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>User name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Password</td><td>{{ update_secret|default:"&lt;your secret&gt;" }}</td></tr>
        </table>
        <h5>If you have IPv4 and IPv6</h5>
        Set Update-URL to the following (two URLs, separated by one space)
        <div class="well well-sm">https://{{ WWW_IPV4_HOST }}/nic/update https://{{ WWW_IPV6_HOST }}/nic/update</div>
        <h5>Forcing a dynamic DNS update</h5>
        If you want to force a dynamic update for testing purposes, you can do it like this:
        <ul>
            <li>disable dynamic DNS, apply</li>
            <li>enable dynamic DNS, apply</li>
            <li>(now the Fritz!Box sends an update, it might be "good" or "nochg" depending on whether we already have that IP in DNS)</li>
        </ul>
    </div>
    <div class="tab-pane" id="ddwrt">
        <h4>DD-WRT</h4>
        <h5>Go to:</h5>
        <div class="well well-sm">
            Setup <i class="fa fa-long-arrow-right"></i>
            DDNS
        </div>
        <h5>Enter the following data:</h5>
        <table class="table">
            <thead><tr><th>Setting</th><th>Value</th></tr></thead>
            <tr><td>DDNS Service</td><td>Custom</td></tr>
            <tr><td>DYNDNS Server</td><td>{{ WWW_IPV4_HOST }}</td></tr>
            <tr><td>User name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
            <tr><td>Password</td><td>{{ update_secret|default:"&lt;your secret&gt;" }}</td></tr>
            <tr><td>Host Name</td><td>{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}</td></tr>
        </table>
    </div>
    <div class="tab-pane" id="ddclient">
        <h4>ddclient</h4>
        <p>
            ddclient is a popular dyndns update daemon on Linux.
        </p>
        <pre># /etc/ddclient.conf

# this will update your ipv4 address to the address
# the web service sees requests coming from:
protocol=dyndns2
use=web, web=http://{{ WWW_IPV4_HOST }}/myip
ssl=yes  # yes = use https for updates
server={{ WWW_IPV4_HOST }}
login={{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
password='{{ update_secret|default:"&lt;your secret&gt;" }}'
{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}

# ddclient releases <= 3.8.1 do not support ipv6,
# but there is a patch for ipv6 from Eduardo Trapani.
# using such a patched ddclient, the following should work:
#
# this will update your ipv6 address to the interface address:
#protocol=dyndns2
#usev6=if, if=eth0
#ssl=yes  # yes = use https for updates
#server={{ WWW_IPV6_HOST }}
#login={{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
#password='{{ update_secret|default:"&lt;your secret&gt;" }}'
#{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}
</pre>
    </div>
    <div class="tab-pane" id="browser">
        <h4>Browser-based update client</h4>
        These URLs invoke the built-in update client, which is intended for temporary and adhoc scenarios only.
        It periodically checks your IP and updates DNS if it changes.
        <ul>
            <li>https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_HOST }}/update   (updates hostname to point to remote ipv4 or ipv6 address)</li>
            <li>https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV4_HOST }}/update   (similar, but ipv4 only)</li>
            <li>https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV6_HOST }}/update   (similar, but ipv6 only)</li>
        </ul>
        <h4>Update URLs for browser / http user agent use</h4>
        Interactive - will ask for username (give your hostname) and password (give your secret):
        <ul>
            <li>https://{{ WWW_HOST }}/nic/update   (updates hostname to point to remote ipv4 or ipv6 address)</li>
            <li>https://{{ WWW_IPV4_HOST }}/nic/update   (similar, but ipv4 only)</li>
            <li>https://{{ WWW_IPV6_HOST }}/nic/update   (similar, but ipv6 only)</li>
        </ul>
        Giving the http basic auth username and password in the URL:
        <ul>
            <li>https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_HOST }}/nic/update   (updates hostname to point to remote ipv4 or ipv6 address)</li>
            <li>https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV4_HOST }}/nic/update   (similar, but ipv4 only)</li>
            <li>https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_IPV6_HOST }}/nic/update   (similar, but ipv6 only)</li>
        </ul>
        As above, but manually specifying the IP address:
        <ul>
            <li>https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_HOST }}/nic/update?myip=127.0.0.1   (updates hostname to point to ipv4 127.0.0.1)</li>
            <li>https://{{ host.get_fqdn|default:"&lt;your hostname&gt;" }}:{{ update_secret|default:"&lt;your secret&gt;" }}@{{ WWW_HOST }}/nic/update?myip=::1   (updates hostname to point to ipv6 ::1)</li>
        </ul>
        Explanation of parameters:
        <ul>
            {% if not host %}
                <li>&lt;your hostname&gt;: your fully qualified hostname, something like example.{{ WWW_HOST }}</li>
            {% endif %}
            {% if not update_secret %}
                <li>&lt;your secret&gt;: the secret you have configured for this hostname</li>
            {% endif %}
            <li>IP addresses: we use the v4 and v6 localhost addresses in the examples, but
                of course you need to use your real public IP instead of that.
            </li>
        </ul>
    </div>
</div>
