{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <h1>User Profile of {{ request.user.username }}</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-6">
        <h1>Associate with remote Account</h1>
        {% for backend in backends.not_associated %}
            <form method="get" action="{% url 'social:begin' backend %}"
                  style="display: inline-block;">
                <button type="submit" class="btn btn-xs btn-success">{{ backend }}</button>
            </form>
        {% endfor %}
        <h1>Deassociate from remote Account</h1>
        {% for socauth in backends.associated %}
            <form method="post" action="{% url 'social:disconnect_individual' socauth.provider socauth.pk %}"
                  style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-xs btn-danger">{{ socauth.provider }}</button>
            </form>
        {% endfor %}
    </div>
    <div class="col-lg-1">
    </div>
</div>
{% endblock %}
