{% extends "accounts/user_settings_base.html" %}
{% load i18n %}{% load bootstrap %}

{% block title %}{% trans 'Account settings' %}{% endblock %}

{% block settings_panel %}
<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">{% trans 'Change password' %}</h3>
</div>
<div class="panel-body">
<form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    {{ form|bootstrap_horizontal:"col-sm-3 col-lg-3" }}
    <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
        <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" /> <a href="{% url 'password_reset' %}">{% trans 'Forgot your password?' %}</a>
    </div>
    </div>
</form>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Social Auth' %}</h3>
  </div>
  <div class="panel-body">
    <h3>{% trans "Associate with remote Account" %}</h3>
    {% for backend in backends.not_associated %}
        <form method="get" action="{% url 'social:begin' backend %}"
              style="display: inline-block;">
            <button type="submit" class="btn btn-xs btn-success">{{ backend }}</button>
        </form>
    {% endfor %}
    <h3>{% trans "Disassociate from remote Account" %}</h3>
    {% for socauth in backends.associated %}
        <form method="post" action="{% url 'social:disconnect_individual' socauth.provider socauth.pk %}"
              style="display: inline-block;">
            {% csrf_token %}
            <button type="submit" class="btn btn-xs btn-danger">{{ socauth.provider }}</button>
        </form>
    {% endfor %}
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Delete account" %}</h3>
  </div>
  <div class="panel-body">
    <p>{% blocktrans trimmed %}
        If you'ld like to stop using this service and delete this user profile and
        all your data (especially all hosts and all domains created by this user),
        you can do it here.
        {% endblocktrans %}
    </p>
    <a class="btn btn-danger" href="{% url 'account_delete' %}"><i class="fa fa-exclamation-triangle"></i> {% trans "Delete User Profile" %}</a>
  </div>
</div>
{% endblock %}
